name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASS }}
          registry: ${{ secrets.AZURE }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.AZURE }}/meu-app:latest .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.AZURE }}/meu-app:latest
