name: Build and Push Docker Image to Azure Container Registry

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: production 
    steps:
      - name: Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.USER }} 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Azure Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.AZURE }}
          username: ${{ secrets.USER }}
          password: ${{ secrets.PASS }}

      - name: Build Docker image
        run: |
          IMAGE="${{ secrets.AZURE }}/myapp:${{ github.sha }}"
          docker build -t $IMAGE .
          docker push $IMAGE
